# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
env/
venv/
*.env
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Large model / tokenizer
sherlock.keras
tokenizer.pickle

# Logs
*.log
